.marian-sep {
  display: flex;
  width: 140%;
  transform: translateX(-10%);

  .line {
    width: 4px;
    height: 2500px;
    background-color: #7EC7C3;
    margin: 0 auto;
    transform: rotate(25deg);
  }

  &.width-1 .line {
    width: 4px !important;
  }

  &.width-2 .line {
    width: 4px !important;
  }

  &.width-3 .line {
    width: 4px !important;
  }
}

.wp-admin .marian-sep {
  background-color: black;
  width: 100%;
  height: 25px;
}